.ds-carrs-subtitle {
  color: var(--ds-carrs-color-font-primary);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;

  transition: font-size 0.3s ease;
}

.ds-carrs-section-card {
  margin-top: 2.5rem;
  width: 100%;
  max-width: 74.6rem;
  padding: 0 2rem;
  margin-bottom: 2.5rem;

  display: flex;
  flex-direction: column;
}

.ds-carrs-comments-container {
  max-width: 120rem;
}

.ds-carrs-section-comments {
  background-color: var(--ds-carrs-color-bg-secundary);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.ds-carrs-section-comments h2 {
  font-size: 2rem;
  color: var(--ds-carrs-color-font-primary);
  margin-top: 2.5rem;
  text-align: center;
  transition: font-size 0.3s ease;
}

.ds-carrs-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ds-carrs-card-content {
  width: 100%;
}

.ds-carrs-footer-container {
  background-color: var(--ds-carrs-color-footer-bg);
  min-height: 12rem;
}

@media (min-width: 576px) {
  .ds-carrs-subtitle {
    font-size: 3.2rem;
  }

  .ds-carrs-section-comments h2 {
    font-size: 3.2rem;
  }
}
