* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

.card {
    height: 200px;
    background-color: #ccc;
    margin: 20px;
    pad: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.super-border {
    border: 3px solid red;
}