@charset "utf-8";

:root {
    --main-color: #205520;
    --secudary-color: #552055;
    --dark-gray: #666;
    --light-gray: #ddd;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--main-color);
}
h1:hover {
    color: aqua;
    cursor: pointer;
}

.orange_color {
    color: #ffa600;
}

.orange_color:hover {
    color: #eedfc2;
    cursor: pointer;
}

#titles {
    background-color: black;
    color: var(--color-white);
}

h2 {
    color: var(--secudary-color);
}

.card img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--main-color);
    margin: 20px;
    padding: 10px;
}