.ct-header {
  padding: 0 20px;
  width: 100%;
  height: 70px;
  background-color: var(--ct-color-header-bg);
  display: flex;
  align-items: center;
}

.ct-header h1 {
  color: var(--ct-color-header-text);
  font-size: 24px;
}

